---
layout: hxp
title: HaxePunk
---

<div class="ink-grid vspace mainpoints">
	<div class="column-group gutters">

	{% for page in site.pages %}
		{% if page.layout == 'game' %}
		{% capture clear %}{% cycle '', 'clearfix hide-large', '', 'clearfix' %}{% endcapture %}
		<div class="small-100 medium-50 large-25" itemscope="" itemtype="http://www.schema.org/CreativeWork">
			<h3 itemprop="name">{{ page.title }}</h3>
			<meta itemprop="thumbnailUrl" content="{{site.baseurl}}img/{{ page.path | replace:'.md','.jpg' }}">
			<meta itemprop="contentLocation" content="{{ page.url }}">
			<p itemprop="author" itemscope="" itemtype="http://www.schema.org/Person">
				<span>By {{ page.author }}</span>
			</p>
			<a href="{{ page.url }}"><img width="220" height="124" src="{{site.baseurl}}img/{{ page.path | replace:'.md','.jpg' }}" alt="{{ page.title }}"></a>
		</div>
		{% if clear != '' %}<div class="{{ clear }}"></div>{% endif %}
		{% endif %}
	{% endfor %}

	</div>
</div>
