<header>
	<div class="centered">
		<a href="{{site.baseUrl}}" class="title">
			<img src="{{site.baseUrl}}images/HaxePunk.gif" alt="HaxePunk" />
		</a>
		<nav>
			<a href="http://www.haxepunk.com/">Home</a>
			<a href="{{site.baseUrl}}" class="active">Learn</a>
			<a href="http://www.haxepunk.com/games">Games</a>
			<a href="http://forum.haxepunk.com/">Community</a>
		</nav>
	</div>
	<div class="github">
		<a href="https://github.com/HaxePunk/HaxePunk">Fork me on GitHub</a>
	</div>
</header>

<div class="gray">
	<div class="centered" style="text-align: center;">
		<a class="button" href="{{site.baseUrl}}introduction">Introduction</a>
		<a class="button" href="{{site.baseUrl}}tutorials">Tutorials</a>
		<a class="button" href="{{site.baseUrl}}cookbook">Cookbook</a>
		<a class="button" href="{{site.baseUrl}}faq">F.A.Q.</a>
		<a class="button" href="http://haxepunk.com/api">API Docs</a>
	</div>
</div>
