{% extends admin/template.html %}

{% block content %}

<div style="width:60%;margin:0 auto;position:relative">
{{ postForm }}

<a href="{% url admin %}" class="button" style="position:absolute;bottom:2px;right:2px">Go Back</a>
</div>

<script>
	Modernizr.load([
		{
			load: '/js/vendor/epiceditor.min.js',
			complete: function() {
				var textarea = document.getElementsByTagName('textarea')[0];
				textarea.style.display = 'none';
				var div = document.createElement('div');
				div.style.height = '400px';
				textarea.parentNode.appendChild(div);
				var editor = new EpicEditor({
					container: div,
					textarea: textarea,
					file: {
						name: '{% post.slug %}'
					},
					basePath: '/css',
					theme: {
						preview: 'themes/preview/github.css'
					}
				});
				editor.load();
			}
		}
	]);
</script>
{% end %}