{
	"db": {
		"provider": "sqlite",
		"file": "tracks.db"
	},
	"email": {
		"host": "smtp.gmail.com",
		"username": "myemail@gmail.com",
		"password": "mypassword"
	},
	"dbPrefix": "",
	"rewrite": false,
	"baseUrl": "http://localhost:2000/",
	"viewsFolder": "../app/views/",
	"defaultController": "Home",
	"defaultMethod": "index",
	"controllerPackage": "controllers"
}