<div class="slideshow centered">
	<div class="slide active">
		<div class="details">
			<h3>Learn about HaxePunk</h3>
			<p>If you are new to HaxePunk or just need some brushing up, this is the place to do it. Checkout the tutorials and example code to get a better idea of how HaxePunk works.</p>
			<p><a href="/learn">Learn more</a></p>
		</div>
		<a href="/learn" class="preview">
			<img src="http://haxepunk.com/images/slides/learn.jpg" alt="Learn about HaxePunk" />
		</a>
	</div>
	<div class="slide">
		<div class="details">
			<h3>See It In Action</h3>
			<p>Play the games already made with HaxePunk and see what all the fuss is about.</p>
			<p><a href="/games">See the Games</a></p>
		</div>
		<a href="/games" class="preview">
			<img src="http://haxepunk.com/images/slides/games.jpg" alt="See It In Action">
		</a>
	</div>
	<div class="slide">
		<div class="details">
			<h3>Join the Discussion</h3>
			<p>Like what you've seen or have a question about HaxePunk? Just drop by the forum and get involved.</p>
			<p><a href="http://forum.haxepunk.com">Visit the Forum</a></p>
		</div>
		<a href="http://forum.haxepunk.com" class="preview">
			<img src="http://haxepunk.com/images/slides/community.jpg" alt="Join the Discussion">
		</a>
	</div>
</div>