body {
	background: #EEE;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background: #F0F0F0;
}
tr:nth-child(odd) {
	background: #FFF;
}

td, th {
	padding: 5px 10px;
	border: 1px solid #333;
}

th {
	background: #333;
	color: #FFF;
}

a {
	color: #D06100;
	text-decoration: none;
}

a:hover {
	color: #F49B4F;
	text-decoration: underline;
}

form > div {
	margin-top: 10px;
}

.time input {
	width: 30px;
}

.form-text-area, .form-text, .form-file {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	padding: 10px;
	font-size:14px;
	background:rgb(41,41,41);
	color: #DDD;
}

.form-text-area {
	height: 250px;
}

.align-right {
	float: right;
}

.button, input[type=submit] {
	background: #D06100;
	background-image: -webkit-linear-gradient(top, #F49B4F 0%, #B55400 100%);
	background-image: -moz-linear-gradient(top, #F49B4F 0%, #B55400 100%);
	background-image: -o-linear-gradient(top, #F49B4F 0%, #B55400 100%);
	background-image: -ms-linear-gradient(top, #F49B4F 0%, #B55400 100%);
	background-image: linear-gradient(top, #F49B4F 0%, #B55400 100%);
	border: 1px solid #A3613B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: #FFF;
	display: inline-block;
}

.button:hover, input[type=submit]:hover {
	background-image: -webkit-linear-gradient(top, #FFC491 0%, #E06800 100%);
	background-image: -moz-linear-gradient(top, #FFC491 0%, #E06800 100%);
	background-image: -o-linear-gradient(top, #FFC491 0%, #E06800 100%);
	background-image: -ms-linear-gradient(top, #FFC491 0%, #E06800 100%);
	background-image: linear-gradient(top, #FFC491 0%, #E06800 100%);
	color: #FFF;
	text-decoration: none;
}

#title {
	width: 90%;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 5px;
}